.profile {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .profile h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .profile-info {
    margin-bottom: 20px;
  }
  
  .profile-button {
    margin:10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .example-form {
    min-width: 100px;
    max-width: 1500px;
    width: 100%;
  }
  .example-full-width {
    width: 100%;
  }
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }
  